@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Jost', sans-serif;
    width: 100%;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 400px) {
  .grids {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 650px) {
  .grids {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .grids {
    grid-template-columns: repeat(4, 1fr);
  }
}




@media (max-width: 600px) {
  .size {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 601px) {
  .size {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 870px) {
  .size {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .size {
    grid-template-columns: repeat(3, 1fr);
  }
}

